* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #1e293b;
    padding: 20px 8%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background: #e0f2fe;
}

.hero-content {
    max-width: 700px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #0f172a;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #334155;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

footer {
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 34px;
    }

    .hero p {
        font-size:16px;
    }
}